[submodule "ChatWeb_Client"]
	path = ChatWeb_Client
	url = https://github.com/Mvt1927/ChatApp-FrontEnd.git
[submodule "Chat_Server"]
	path = Chat_Server
	url = https://github.com/khacvux/chatapp-server.git
